In [1]:
# importing libraries
import urllib.request, urllib.parse
from urllib.error import HTTPError,URLError
import json
import pandas as pd
import requests

In [2]:
url = 'https://data.ny.gov/resource/i9wp-a4ja.json'
uh = urllib.request.urlopen(url)
resp = requests.get(url)
resp

In [3]:
data = resp.json()

In [4]:
subways = pd.DataFrame(data)

In [5]:
subways.head()

,division,line,station_name,station_latitude,station_longitude,route1,entrance_type,entry,vending,staffing,...,route4,route5,route6,route7,route8,route9,ada_notes,staff_hours,route10,route11
0,BMT,4 Avenue,25th St,40.660397,-73.998091,R,Stair,YES,YES,NONE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BMT,4 Avenue,25th St,40.660397,-73.998091,R,Stair,YES,YES,FULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BMT,4 Avenue,36th St,40.655144,-74.003549,N,Stair,YES,YES,FULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BMT,4 Avenue,36th St,40.655144,-74.003549,N,Stair,YES,YES,FULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BMT,4 Avenue,36th St,40.655144,-74.003549,N,Stair,YES,YES,FULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
subways.tail(20)

,division,line,station_name,station_latitude,station_longitude,route1,entrance_type,entry,vending,staffing,...,route4,route5,route6,route7,route8,route9,ada_notes,staff_hours,route10,route11
980,IND,Liberty,111th St-Greenwood Av,40.684331,-73.832163,A,Stair,YES,YES,FULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981,IND,Liberty,111th St-Greenwood Av,40.684331,-73.832163,A,Stair,YES,YES,FULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
982,IND,Liberty,111th St-Greenwood Av,40.684331,-73.832163,A,Stair,YES,YES,NONE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
983,IND,Liberty,80th St-Hudson St,40.679371,-73.858992,A,Stair,YES,YES,NONE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
984,IND,Liberty,80th St-Hudson St,40.679371,-73.858992,A,Stair,YES,YES,FULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,IND,Liberty,80th St-Hudson St,40.679371,-73.858992,A,Stair,YES,YES,FULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
986,IND,Liberty,80th St-Hudson St,40.679371,-73.858992,A,Stair,YES,YES,NONE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987,IND,Liberty,88th St-Boyd Av,40.679843,-73.85147,A,Stair,YES,YES,FULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
988,IND,Liberty,88th St-Boyd Av,40.679843,-73.85147,A,Stair,YES,YES,FULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
989,IND,Liberty,Grant Av,40.677044,-73.86505,A,Door,YES,YES,FULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
990,IND,Liberty,Lefferts Blvd,40.685951,-73.825798,A,Stair,YES,YES,NONE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
991,IND,Liberty,Lefferts Blvd,40.685951,-73.825798,A,Stair,YES,YES,FULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
992,IND,Liberty,Lefferts Blvd,40.685951,-73.825798,A,Stair,YES,YES,FULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
993,IND,Liberty,Lefferts Blvd,40.685951,-73.825798,A,Stair,YES,YES,NONE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994,IND,Liberty,Rockaway Blvd,40.680429,-73.843853,A,Stair,YES,YES,NONE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,IND,Liberty,Rockaway Blvd,40.680429,-73.843853,A,Stair,YES,YES,NONE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,IND,Liberty,Rockaway Blvd,40.680429,-73.843853,A,Stair,YES,YES,FULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,IND,Liberty,Rockaway Blvd,40.680429,-73.843853,A,Stair,YES,YES,FULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,IND,Queens Boulevard,169th St,40.71047,-73.793604,F,Stair,YES,YES,FULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,IND,Queens Boulevard,169th St,40.71047,-73.793604,F,Stair,YES,YES,FULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# examining data types in dataset
subways.dtypes

division              object
line                  object
station_name          object
station_latitude      object
station_longitude     object
route1                object
entrance_type         object
entry                 object
vending               object
staffing              object
ada                   object
free_crossover        object
north_south_street    object
east_west_street      object
corner                object
entrance_latitude     object
entrance_longitude    object
station_location      object
entrance_location     object
route2                object
exit_only             object
route3                object
route4                object
route5                object
route6                object
route7                object
route8                object
route9                object
ada_notes             object
staff_hours           object
route10               object
route11               object
dtype: object

In [8]:
# categorizing based on line and station name
subways.groupby(by =['line', 'station_name']).size()

line      station_name
4 Avenue  25th St                  2
          36th St                  3
          45th St                  4
          53rd St                  5
          59th St                  6
                                  ..
West End  79th St                  4
          9th Av                   1
          Bay 50th St              4
          Bay Parkway              4
          Fort Hamilton Parkway    4
Length: 253, dtype: int64

In [9]:
# looking at missing values
subways.isna().sum()

division                0
line                    0
station_name            0
station_latitude        0
station_longitude       0
route1                  0
entrance_type           0
entry                   0
vending                 0
staffing                0
ada                     0
free_crossover          0
north_south_street     16
east_west_street       22
corner                 17
entrance_latitude       0
entrance_longitude      0
station_location        0
entrance_location       0
route2                406
exit_only             973
route3                715
route4                805
route5                872
route6                922
route7                946
route8                972
route9                983
ada_notes             956
staff_hours           988
route10               987
route11               987
dtype: int64

In [16]:
# dropping route columns as they are mostly NaN values. Also dropping ada_notes column, and staff_hours column

subways.drop(['route2', 'exit_only', 'route3', 'route4', 'route5', 'route6', 'route7', 'route8', 'route9', 'ada_notes', 'staff_hours', 'route10', 'route11', 'station_location', 'entrance_location'], axis=1)

,division,line,station_name,station_latitude,station_longitude,route1,entrance_type,entry,vending,staffing,ada,free_crossover,north_south_street,east_west_street,corner,entrance_latitude,entrance_longitude
0,BMT,4 Avenue,25th St,40.660397,-73.998091,R,Stair,YES,YES,NONE,FALSE,FALSE,4th Ave,25th St,SW,40.660489,-73.998220
1,BMT,4 Avenue,25th St,40.660397,-73.998091,R,Stair,YES,YES,FULL,FALSE,FALSE,4th Ave,25th St,SE,40.660323,-73.997952
2,BMT,4 Avenue,36th St,40.655144,-74.003549,N,Stair,YES,YES,FULL,FALSE,TRUE,4th Ave,36th St,NW,40.654676,-74.004306
3,BMT,4 Avenue,36th St,40.655144,-74.003549,N,Stair,YES,YES,FULL,FALSE,TRUE,4th Ave,36th St,NE,40.654365,-74.004113
4,BMT,4 Avenue,36th St,40.655144,-74.003549,N,Stair,YES,YES,FULL,FALSE,TRUE,4th Ave,36th St,NW,40.654490,-74.004499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,IND,Liberty,Rockaway Blvd,40.680429,-73.843853,A,Stair,YES,YES,NONE,FALSE,TRUE,97th St,Liberty Ave,SW,40.680774,-73.842558
996,IND,Liberty,Rockaway Blvd,40.680429,-73.843853,A,Stair,YES,YES,FULL,FALSE,TRUE,94th St,Liberty Ave,SW,40.680158,-73.845131
997,IND,Liberty,Rockaway Blvd,40.680429,-73.843853,A,Stair,YES,YES,FULL,FALSE,TRUE,94th St,Liberty Ave,NW,40.680305,-73.845159
998,IND,Queens Boulevard,169th St,40.71047,-73.793604,F,Stair,YES,YES,FULL,FALSE,TRUE,169th St,Hillside Ave,NW,40.710830,-73.793248
999,IND,Queens Boulevard,169th St,40.71047,-73.793604,F,Stair,YES,YES,FULL,FALSE,TRUE,169th St,Hillside Ave,SE,40.710563,-73.792853

In [17]:
subways.dtypes

division              object
line                  object
station_name          object
station_latitude      object
station_longitude     object
route1                object
entrance_type         object
entry                 object
vending               object
staffing              object
ada                   object
free_crossover        object
north_south_street    object
east_west_street      object
corner                object
entrance_latitude     object
entrance_longitude    object
station_location      object
entrance_location     object
route2                object
exit_only             object
route3                object
route4                object
route5                object
route6                object
route7                object
route8                object
route9                object
ada_notes             object
staff_hours           object
route10               object
route11               object
dtype: object

In [12]:
# changing data types for numeric columns
subways['station_latitude'].astype('float')

0      40.660397
1      40.660397
2      40.655144
3      40.655144
4      40.655144
         ...
995    40.680429
996    40.680429
997    40.680429
998    40.710470
999    40.710470
Name: station_latitude, Length: 1000, dtype: float64

In [13]:
# changing longitude to float
subways['station_longitude'].astype('float')

0     -73.998091
1     -73.998091
2     -74.003549
3     -74.003549
4     -74.003549
         ...
995   -73.843853
996   -73.843853
997   -73.843853
998   -73.793604
999   -73.793604
Name: station_longitude, Length: 1000, dtype: float64

In [14]:
subways.dtypes

division              object
line                  object
station_name          object
station_latitude      object
station_longitude     object
route1                object
entrance_type         object
entry                 object
vending               object
staffing              object
ada                   object
free_crossover        object
north_south_street    object
east_west_street      object
corner                object
entrance_latitude     object
entrance_longitude    object
station_location      object
entrance_location     object
route2                object
exit_only             object
route3                object
route4                object
route5                object
route6                object
route7                object
route8                object
route9                object
ada_notes             object
staff_hours           object
route10               object
route11               object
dtype: object

In [15]:
# changing data type for boolean columns
subways[['entry','vending']].astype(bool)

     entry  vending
0     True     True
1     True     True
2     True     True
3     True     True
4     True     True
..     ...      ...
995   True     True
996   True     True
997   True     True
998   True     True
999   True     True

[1000 rows x 2 columns]

In [18]:
# changing data type for boolean columns
subways[['ada','free_crossover']].astype(bool)

      ada  free_crossover
0    True            True
1    True            True
2    True            True
3    True            True
4    True            True
..    ...             ...
995  True            True
996  True            True
997  True            True
998  True            True
999  True            True

[1000 rows x 2 columns]