# Milestone Three

### I had to find an alternative website to parse data from as the Inside Airbnb site does not parse in html. Instead I chose a wikitravel site that contains similar information regarding transportation and events by borough.

In [52]:
#Import libraries
import requests
import html5lib
from bs4 import BeautifulSoup

In [74]:
import pandas as pd
import numpy as np
import csv

In [107]:
url = "https://en.wikipedia.org/wiki/Tourism_in_New_York_City"
response = requests.get(url)
print(response.status_code)
soup = BeautifulSoup(response.text,"html.parser")
table = soup.findAll('table',{"class":"wikitable"})[1]
tr = table.findAll(['tr'])[1:20]
csvFile = open("empirestateofmind.csv",'wt',newline='', encoding='utf-8')
writer = csv.writer(csvFile)  
try:   
        for cell in tr:
            th = cell.find_all('th')
            th_data = [col.text.strip('\n') for col in th]
            td = cell.find_all('td')
            row = [i.text.replace('\n','') for i in td]
            writer.writerow(th_data+row)      
        
finally:   
    csvFile.close()

200

In [108]:
df = pd.read_csv('empirestateofmind.csv')
df.head()

,Central Park,Unnamed: 1,"between 5th and 8th Aves, between W 59th and W 110th Sts40°46′56″N 73°57′55″W﻿ / ﻿40.78222°N 73.96528°W﻿ / 40.78222; -73.96528﻿ (Central Park)",42.0,2016,[22]
0,Times Square,NaN,Broadway and 7th Avenue between W 42nd and W 4...,39.5,2014,[23]
1,Grand Central Terminal,NaN,Park Ave between E 42nd and E 45th Sts40°45′10...,21.6,2014,[23]
2,Theater District (including Broadway theatres),NaN,"between 6th and 8th Aves, between 40th and 54t...",13.0,2018,[24]
3,Rockefeller Center (including Top of the Rock),NaN,"between 5th and 6th Aves, between W 48th and W...",12.8,2018,[24]
4,Bryant Park,NaN,"between 5th and 6th Aves, between W 40th and W...",12.0,2017,[25]

In [109]:
df

,Central Park,Unnamed: 1,"between 5th and 8th Aves, between W 59th and W 110th Sts40°46′56″N 73°57′55″W﻿ / ﻿40.78222°N 73.96528°W﻿ / 40.78222; -73.96528﻿ (Central Park)",42.0,2016,[22]
0,Times Square,NaN,Broadway and 7th Avenue between W 42nd and W 4...,39.5,2014,[23]
1,Grand Central Terminal,NaN,Park Ave between E 42nd and E 45th Sts40°45′10...,21.6,2014,[23]
2,Theater District (including Broadway theatres),NaN,"between 6th and 8th Aves, between 40th and 54t...",13.0,2018,[24]
3,Rockefeller Center (including Top of the Rock),NaN,"between 5th and 6th Aves, between W 48th and W...",12.8,2018,[24]
4,Bryant Park,NaN,"between 5th and 6th Aves, between W 40th and W...",12.0,2017,[25]
5,Prospect Park,NaN,"between 8th, Flatbush, Ocean, Parkside Aves, a...",10.0,2017,[26]
6,South Street Seaport,NaN,South St and Fulton St40°42′22″N 74°0′12″W﻿ / ...,9.0,2014,[23]
7,High Line,NaN,west of 10th Ave between Gansevoort and W 34th...,7.6,2015,[27]
8,Coney Island (including amusement parks and bo...,NaN,southern shore of Brooklyn40°34′26″N 73°58′41″...,7.4,2017,[28]
9,National September 11 Memorial,NaN,"between West, Vesey, Greenwich, and Liberty St...",6.8,2017,[29]
10,Metropolitan Museum of Art,NaN,5th Ave and E 82nd St40°46′46″N 73°57′47″W﻿ / ...,6.1,2014,[23]
11,Rockaway Beach,NaN,"Rockaway, Queens40°35′10″N 73°48′43″W﻿ / ﻿40.5...",5.5,2017,[28]
12,American Museum of Natural History,NaN,"between Columbus Ave, Central Park W, and W 77...",5.0,2018,[30]
13,Statue of Liberty and Ellis Island,NaN,Statue of Liberty National Monument (off the c...,4.5,2016,[31]
14,Empire State Building,NaN,5th Ave and W 34th St40°44′54″N 73°59′08″W﻿ / ...,4.0,2015,[32]
15,National September 11 Museum,NaN,Greenwich St and Cortlandt Way40°42′41″N 74°00...,3.1,2017,[29]
16,Museum of Modern Art,NaN,11 W 53rd St40°45′42″N 73°58′39″W﻿ / ﻿40.7616°...,2.8,2016,[33]
17,One World Trade Center,NaN,West St and Vesey St40°42′47″N 74°0′49″W﻿ / ﻿4...,2.3,2015,[32]

In [110]:
# adding column headers
df.columns = ['Name', 'Image', 'Location', 'Estimated Number of Visitors (millions)', 'Year of Last Visitor Calculation', 'Reference']

In [111]:
df.head()

,Name,Image,Location,Estimated Number of Visitors (millions),Year of Last Visitor Calculation,Reference
0,Times Square,NaN,Broadway and 7th Avenue between W 42nd and W 4...,39.5,2014,[23]
1,Grand Central Terminal,NaN,Park Ave between E 42nd and E 45th Sts40°45′10...,21.6,2014,[23]
2,Theater District (including Broadway theatres),NaN,"between 6th and 8th Aves, between 40th and 54t...",13.0,2018,[24]
3,Rockefeller Center (including Top of the Rock),NaN,"between 5th and 6th Aves, between W 48th and W...",12.8,2018,[24]
4,Bryant Park,NaN,"between 5th and 6th Aves, between W 40th and W...",12.0,2017,[25]

In [112]:
# adding Central Park observation back to dataframe as it was deleted when column headers were added

new_row = {'Name':'Central Park', 'Image': 0, 'Location':'between 5th and 8th Aves, between W 59th and W 110th Sts 40°46′56″N 73°57′55″W', 'Estimated Number of Visitors (millions)': 42.0, 'Year of Last Visitor Calculation': 2016, 'Reference': '[22]'}

In [113]:
df = df.append(new_row, ignore_index=True)

print('\n\nNew row added to DataFrame\n--------------------------')
print(df)

New row added to DataFrame
--------------------------
                                                 Name  Image  \
0                                        Times Square    NaN
1                              Grand Central Terminal    NaN
2      Theater District (including Broadway theatres)    NaN
3      Rockefeller Center (including Top of the Rock)    NaN
4                                         Bryant Park    NaN
5                                       Prospect Park    NaN
6                                South Street Seaport    NaN
7                                           High Line    NaN
8   Coney Island (including amusement parks and bo...    NaN
9                      National September 11 Memorial    NaN
10                         Metropolitan Museum of Art    NaN
11                                     Rockaway Beach    NaN
12                 American Museum of Natural History    NaN
13                 Statue of Liberty and Ellis Island    NaN
14                              Empire State Building    NaN
15                       National September 11 Museum    NaN
16                               Museum of Modern Art    NaN
17                             One World Trade Center    NaN
18                                       Central Park    0.0

                                             Location  \
0   Broadway and 7th Avenue between W 42nd and W 4...
1   Park Ave between E 42nd and E 45th Sts40°45′10...
2   between 6th and 8th Aves, between 40th and 54t...
3   between 5th and 6th Aves, between W 48th and W...
4   between 5th and 6th Aves, between W 40th and W...
5   between 8th, Flatbush, Ocean, Parkside Aves, a...
6   South St and Fulton St40°42′22″N 74°0′12″W﻿ / ...
7   west of 10th Ave between Gansevoort and W 34th...
8   southern shore of Brooklyn40°34′26″N 73°58′41″...
9   between West, Vesey, Greenwich, and Liberty St...
10  5th Ave and E 82nd St40°46′46″N 73°57′47″W﻿ / ...
11  Rockaway, Queens40°35′10″N 73°48′43″W﻿ / ﻿40.5...
12  between Columbus Ave, Central Park W, and W 77...
13  Statue of Liberty National Monument (off the c...
14  5th Ave and W 34th St40°44′54″N 73°59′08″W﻿ / ...
15  Greenwich St and Cortlandt Way40°42′41″N 74°00...
16  11 W 53rd St40°45′42″N 73°58′39″W﻿ / ﻿40.7616°...
17  West St and Vesey St40°42′47″N 74°0′49″W﻿ / ﻿4...
18  between 5th and 8th Aves, between W 59th and W...

    Estimated Number of Visitors (millions)  Year of Last Visitor Calculation  \
0                                      39.5                              2014
1                                      21.6                              2014
2                                      13.0                              2018
3                                      12.8                              2018
4                                      12.0                              2017
5                                      10.0                              2017
6                                       9.0                              2014
7                                       7.6                              2015
8                                       7.4                              2017
9                                       6.8                              2017
10                                      6.1                              2014
11                                      5.5                              2017
12                                      5.0                              2018
13                                      4.5                              2016
14                                      4.0                              2015
15                                      3.1                              2017
16                                      2.8                              2016
17                                      2.3                              2015
18                                     42.0                              2016

   Reference
0       [23]
1       [23]
2       [24]
3       [24]
4       [25]
5       [26]
6       [23]
7       [27]
8       [28]
9       [29]
10      [23]
11      [28]
12      [30]
13      [31]
14      [32]
15      [29]
16      [33]
17      [32]
18      [22]

In [114]:
df

,Name,Image,Location,Estimated Number of Visitors (millions),Year of Last Visitor Calculation,Reference
0,Times Square,NaN,Broadway and 7th Avenue between W 42nd and W 4...,39.5,2014,[23]
1,Grand Central Terminal,NaN,Park Ave between E 42nd and E 45th Sts40°45′10...,21.6,2014,[23]
2,Theater District (including Broadway theatres),NaN,"between 6th and 8th Aves, between 40th and 54t...",13.0,2018,[24]
3,Rockefeller Center (including Top of the Rock),NaN,"between 5th and 6th Aves, between W 48th and W...",12.8,2018,[24]
4,Bryant Park,NaN,"between 5th and 6th Aves, between W 40th and W...",12.0,2017,[25]
5,Prospect Park,NaN,"between 8th, Flatbush, Ocean, Parkside Aves, a...",10.0,2017,[26]
6,South Street Seaport,NaN,South St and Fulton St40°42′22″N 74°0′12″W﻿ / ...,9.0,2014,[23]
7,High Line,NaN,west of 10th Ave between Gansevoort and W 34th...,7.6,2015,[27]
8,Coney Island (including amusement parks and bo...,NaN,southern shore of Brooklyn40°34′26″N 73°58′41″...,7.4,2017,[28]
9,National September 11 Memorial,NaN,"between West, Vesey, Greenwich, and Liberty St...",6.8,2017,[29]
10,Metropolitan Museum of Art,NaN,5th Ave and E 82nd St40°46′46″N 73°57′47″W﻿ / ...,6.1,2014,[23]
11,Rockaway Beach,NaN,"Rockaway, Queens40°35′10″N 73°48′43″W﻿ / ﻿40.5...",5.5,2017,[28]
12,American Museum of Natural History,NaN,"between Columbus Ave, Central Park W, and W 77...",5.0,2018,[30]
13,Statue of Liberty and Ellis Island,NaN,Statue of Liberty National Monument (off the c...,4.5,2016,[31]
14,Empire State Building,NaN,5th Ave and W 34th St40°44′54″N 73°59′08″W﻿ / ...,4.0,2015,[32]
15,National September 11 Museum,NaN,Greenwich St and Cortlandt Way40°42′41″N 74°00...,3.1,2017,[29]
16,Museum of Modern Art,NaN,11 W 53rd St40°45′42″N 73°58′39″W﻿ / ﻿40.7616°...,2.8,2016,[33]
17,One World Trade Center,NaN,West St and Vesey St40°42′47″N 74°0′49″W﻿ / ﻿4...,2.3,2015,[32]
18,Central Park,0.0,"between 5th and 8th Aves, between W 59th and W...",42.0,2016,[22]

In [116]:
# dropping image column from dataframe
df.drop(['Image'], axis=1)

,Name,Location,Estimated Number of Visitors (millions),Year of Last Visitor Calculation,Reference
0,Times Square,Broadway and 7th Avenue between W 42nd and W 4...,39.5,2014,[23]
1,Grand Central Terminal,Park Ave between E 42nd and E 45th Sts40°45′10...,21.6,2014,[23]
2,Theater District (including Broadway theatres),"between 6th and 8th Aves, between 40th and 54t...",13.0,2018,[24]
3,Rockefeller Center (including Top of the Rock),"between 5th and 6th Aves, between W 48th and W...",12.8,2018,[24]
4,Bryant Park,"between 5th and 6th Aves, between W 40th and W...",12.0,2017,[25]
5,Prospect Park,"between 8th, Flatbush, Ocean, Parkside Aves, a...",10.0,2017,[26]
6,South Street Seaport,South St and Fulton St40°42′22″N 74°0′12″W﻿ / ...,9.0,2014,[23]
7,High Line,west of 10th Ave between Gansevoort and W 34th...,7.6,2015,[27]
8,Coney Island (including amusement parks and bo...,southern shore of Brooklyn40°34′26″N 73°58′41″...,7.4,2017,[28]
9,National September 11 Memorial,"between West, Vesey, Greenwich, and Liberty St...",6.8,2017,[29]
10,Metropolitan Museum of Art,5th Ave and E 82nd St40°46′46″N 73°57′47″W﻿ / ...,6.1,2014,[23]
11,Rockaway Beach,"Rockaway, Queens40°35′10″N 73°48′43″W﻿ / ﻿40.5...",5.5,2017,[28]
12,American Museum of Natural History,"between Columbus Ave, Central Park W, and W 77...",5.0,2018,[30]
13,Statue of Liberty and Ellis Island,Statue of Liberty National Monument (off the c...,4.5,2016,[31]
14,Empire State Building,5th Ave and W 34th St40°44′54″N 73°59′08″W﻿ / ...,4.0,2015,[32]
15,National September 11 Museum,Greenwich St and Cortlandt Way40°42′41″N 74°00...,3.1,2017,[29]
16,Museum of Modern Art,11 W 53rd St40°45′42″N 73°58′39″W﻿ / ﻿40.7616°...,2.8,2016,[33]
17,One World Trade Center,West St and Vesey St40°42′47″N 74°0′49″W﻿ / ﻿4...,2.3,2015,[32]
18,Central Park,"between 5th and 8th Aves, between W 59th and W...",42.0,2016,[22]

In [103]:
df

,Name,Image,Location,Estimated Number of Visitors (millions),Year of Last Visitor Calculation,Reference,name
0,Times Square,NaN,Broadway and 7th Avenue between W 42nd and W 4...,39.5,2014,[23],NaN
1,Grand Central Terminal,NaN,Park Ave between E 42nd and E 45th Sts40°45′10...,21.6,2014,[23],NaN
2,Theater District (including Broadway theatres),NaN,"between 6th and 8th Aves, between 40th and 54t...",13.0,2018,[24],NaN
3,Rockefeller Center (including Top of the Rock),NaN,"between 5th and 6th Aves, between W 48th and W...",12.8,2018,[24],NaN
4,Bryant Park,NaN,"between 5th and 6th Aves, between W 40th and W...",12.0,2017,[25],NaN
5,Prospect Park,NaN,"between 8th, Flatbush, Ocean, Parkside Aves, a...",10.0,2017,[26],NaN
6,South Street Seaport,NaN,South St and Fulton St40°42′22″N 74°0′12″W﻿ / ...,9.0,2014,[23],NaN
7,High Line,NaN,west of 10th Ave between Gansevoort and W 34th...,7.6,2015,[27],NaN
8,Coney Island (including amusement parks and bo...,NaN,southern shore of Brooklyn40°34′26″N 73°58′41″...,7.4,2017,[28],NaN
10,Central Park,0.0,"between 5th and 8th Aves, between W 59th and W...",42.0,2016,[22],NaN

In [118]:
# deleting image column and name column
df.drop(['Image'], axis=1, inplace=True)

In [105]:
df

,Name,Location,Estimated Number of Visitors (millions),Year of Last Visitor Calculation,Reference
0,Times Square,Broadway and 7th Avenue between W 42nd and W 4...,39.5,2014,[23]
1,Grand Central Terminal,Park Ave between E 42nd and E 45th Sts40°45′10...,21.6,2014,[23]
2,Theater District (including Broadway theatres),"between 6th and 8th Aves, between 40th and 54t...",13.0,2018,[24]
3,Rockefeller Center (including Top of the Rock),"between 5th and 6th Aves, between W 48th and W...",12.8,2018,[24]
4,Bryant Park,"between 5th and 6th Aves, between W 40th and W...",12.0,2017,[25]
5,Prospect Park,"between 8th, Flatbush, Ocean, Parkside Aves, a...",10.0,2017,[26]
6,South Street Seaport,South St and Fulton St40°42′22″N 74°0′12″W﻿ / ...,9.0,2014,[23]
7,High Line,west of 10th Ave between Gansevoort and W 34th...,7.6,2015,[27]
8,Coney Island (including amusement parks and bo...,southern shore of Brooklyn40°34′26″N 73°58′41″...,7.4,2017,[28]
10,Central Park,"between 5th and 8th Aves, between W 59th and W...",42.0,2016,[22]

In [119]:
print(df['Location'])

0     Broadway and 7th Avenue between W 42nd and W 4...
1     Park Ave between E 42nd and E 45th Sts40°45′10...
2     between 6th and 8th Aves, between 40th and 54t...
3     between 5th and 6th Aves, between W 48th and W...
4     between 5th and 6th Aves, between W 40th and W...
5     between 8th, Flatbush, Ocean, Parkside Aves, a...
6     South St and Fulton St40°42′22″N 74°0′12″W﻿ / ...
7     west of 10th Ave between Gansevoort and W 34th...
8     southern shore of Brooklyn40°34′26″N 73°58′41″...
9     between West, Vesey, Greenwich, and Liberty St...
10    5th Ave and E 82nd St40°46′46″N 73°57′47″W﻿ / ...
11    Rockaway, Queens40°35′10″N 73°48′43″W﻿ / ﻿40.5...
12    between Columbus Ave, Central Park W, and W 77...
13    Statue of Liberty National Monument (off the c...
14    5th Ave and W 34th St40°44′54″N 73°59′08″W﻿ / ...
15    Greenwich St and Cortlandt Way40°42′41″N 74°00...
16    11 W 53rd St40°45′42″N 73°58′39″W﻿ / ﻿40.7616°...
17    West St and Vesey St40°42′47″N 74°0′49″W﻿ / ﻿4...
18    between 5th and 8th Aves, between W 59th and W...
Name: Location, dtype: object

In [120]:
## removing reference column
df.drop(['Reference'], axis=1, inplace=True)

In [121]:
df

,Name,Location,Estimated Number of Visitors (millions),Year of Last Visitor Calculation
0,Times Square,Broadway and 7th Avenue between W 42nd and W 4...,39.5,2014
1,Grand Central Terminal,Park Ave between E 42nd and E 45th Sts40°45′10...,21.6,2014
2,Theater District (including Broadway theatres),"between 6th and 8th Aves, between 40th and 54t...",13.0,2018
3,Rockefeller Center (including Top of the Rock),"between 5th and 6th Aves, between W 48th and W...",12.8,2018
4,Bryant Park,"between 5th and 6th Aves, between W 40th and W...",12.0,2017
5,Prospect Park,"between 8th, Flatbush, Ocean, Parkside Aves, a...",10.0,2017
6,South Street Seaport,South St and Fulton St40°42′22″N 74°0′12″W﻿ / ...,9.0,2014
7,High Line,west of 10th Ave between Gansevoort and W 34th...,7.6,2015
8,Coney Island (including amusement parks and bo...,southern shore of Brooklyn40°34′26″N 73°58′41″...,7.4,2017
9,National September 11 Memorial,"between West, Vesey, Greenwich, and Liberty St...",6.8,2017
10,Metropolitan Museum of Art,5th Ave and E 82nd St40°46′46″N 73°57′47″W﻿ / ...,6.1,2014
11,Rockaway Beach,"Rockaway, Queens40°35′10″N 73°48′43″W﻿ / ﻿40.5...",5.5,2017
12,American Museum of Natural History,"between Columbus Ave, Central Park W, and W 77...",5.0,2018
13,Statue of Liberty and Ellis Island,Statue of Liberty National Monument (off the c...,4.5,2016
14,Empire State Building,5th Ave and W 34th St40°44′54″N 73°59′08″W﻿ / ...,4.0,2015
15,National September 11 Museum,Greenwich St and Cortlandt Way40°42′41″N 74°00...,3.1,2017
16,Museum of Modern Art,11 W 53rd St40°45′42″N 73°58′39″W﻿ / ﻿40.7616°...,2.8,2016
17,One World Trade Center,West St and Vesey St40°42′47″N 74°0′49″W﻿ / ﻿4...,2.3,2015
18,Central Park,"between 5th and 8th Aves, between W 59th and W...",42.0,2016

## Will work on Geocoding for longitude and Latitude to pull those into separate columns